<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectDesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectDesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Syno.User" value="admin" />
    <add key="Syno.Pass" value="booboo" />
    <add key="Syno.ApiBaseAddress" value="https://themcauleys.DiskStation.me/webapi" />
  </appSettings>
  <applicationSettings>
    <ProjectDesign.Properties.Settings>
      <setting name="DBConnectionString" serializeAs="String">
        <value>SERVER=mcauleyhouse.ddns.net;PORT=32004;DATABASE=user_database;UID=oscar;pwd=Hunt3l44R;SslMode=none;</value>
      </setting>
      <setting name="FTPAddress" serializeAs="String">
        <value>ftp://mcauleyhouse.ddns.net:32005/oscar/music</value>
      </setting>
      <setting name="UploadAddress" serializeAs="String">
        <value>\\mcauleyhouse.ddns.net\oscar\music</value>
      </setting>
      <setting name="ProjectDesign_com_wikia_lyrics_LyricWiki" serializeAs="String">
        <value>http://lyrics.wikia.com/server.php</value>
      </setting>
    </ProjectDesign.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ProjectDesign.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FTPUsername" serializeAs="String">
        <value>oscar</value>
      </setting>
      <setting name="FTPPassword" serializeAs="String">
        <value>booboo</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="RememberUser" serializeAs="String">
        <value>False</value>
      </setting>
    </ProjectDesign.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>